nav{    background-color: rgb(255, 153, 0);
        height: 100px;}

.barra{ float: left;}

body{       background-color: white;}

/* Inicio */
/* Carrusel de Imagenes */
.conteiner1{ width: 100%;
             height: 560px;  
             position: relative; 
             margin: 20px auto;}

.carru{     filter: brightness(0.30);
            width: 100%; }

.texto {    position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 70%;
            width: 60%;}

.texto h2{  font-family: Arial, Helvetica, sans-serif;
            font-size: 3rem;
            color: white;
            text-align: center;
            text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);} 

.texto p{   font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1.5rem;
            color: white;
            text-align: center;
            text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);}



nav h1{     font-family: Arial, Helvetica, sans-serif;
            font-size: 3.5rem;
            color: white;
            text-align: center;
            text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);}

h2{         font-family: Arial, Helvetica, sans-serif;
            font-size: 3rem;
            color: black;
            text-align: center;
            margin: 20px;}

h3{     font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        color: white;
        font-size: 1.8rem;
        margin: 20px;}

h4{ font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: black;
    font-size: 1.5rem;
    margin: 20px;}

p{  font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: black;
    text-align: left;}

#div{ width: 90%; height: 1rem; background: linear-gradient(
    to left,
    rgb(255, 153, 0) 33%,
    grey 33% 66%,
    rgb(146, 32, 32) 66%
  );}


/* Productos Inicio */
.conteiner2{    width: 100%;
                position: relative;
                margin: 5% auto;
                background-color: rgb(240, 240, 240);
                height: 38rem auto;}               

/* Preguntas Inicio */
.conteiner3{    width: 100%;  
                position: relative;
                margin: 5% auto; }

.conteiner3 p{  color: white;
                font-size: 2.0;
                text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
                margin: 20px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-align: left;}
 
footer{
    background-color: rgb(146, 32, 32);
}

/* CONTACTO */
#form{
    margin: 5%;

}

.img{
    border-radius: 90%;
}

/* SALUD */

.video{
    display: flex; /* utiliza flexbox para alinear elementos en línea */
    align-items: center; /* alinea verticalmente los elementos */
    margin-bottom: 20px; /* espacio entre cada conjunto de imagen y texto */
}


/*Media Queries*/
/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) {
    .conteiner1{
        display: none;}
    #barra{
        background-color: rgb(255, 153, 0);
    }
    .imgpreg{
        display: none;}
    .re{   
        display: none;}
  }
  
  /*Medium devices (tablets, 768px and up)*/
  @media (max-width: 767.98px) {
    .conteiner1{
        display: none;}
    #barra{
        background-color: rgb(255, 153, 0);}
    .imgpreg{
        display: none;}
    .re{   
        display: none;}
  }
  
  /*Large devices (desktops, 992px and up)*/
  @media (max-width: 991.98px) {
    .conteiner1{
        display: none;}
    #barra{
        background-color: rgb(255, 153, 0);}
    .imgpreg{
        display: none;}
    }

  @media (min-width: 991.99px) and (max-width: 1290px) {    
    #barra{ margin-right: 25%;}
  }

